@model Assessment.Models.Orders

@{
    ViewData["Title"] = "Add";
}

<h1>Orders</h1>

<h4>Orders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Order" asp-action="Add" method="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderNumber" class="control-label"></label>
                <input asp-for="OrderNumber" class="form-control" />
                <span asp-validation-for="OrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTypeID" class="control-label"></label>
                <select asp-for="OrderTypeID" class ="form-control" asp-items="@ViewBag.OrderType"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderStatusID" class="control-label"></label>
                <select asp-for="OrderStatusID" class ="form-control" asp-items="@ViewBag.OrderStatus"></select>
            </div>
            <input asp-for="DeleteStatus" value="Active" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Order" asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
